.image {
  grid-area: image;
}

.name {
  grid-area: name;
}

.price {
  grid-area: price;
}

.tracks {
  grid-area: tracks;
}

.genre {
  grid-area: genre;
}

.album-container {
  width: 65vw;
  display: inline-grid;
  grid-template-areas: 
    'image name'
    'image price'
    'image tracks'
    'image genre';
  grid-gap: 10px;
  background-color: #b7d7e8;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}

.album-container .image {
  width: 10vw;
  margin: auto;
}

.album-container > div {
  background-color: #daebe8;
  text-align: left;
  padding: 2px;
  width: 52vw
}

input[type=text] {
  width: 50vw;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  font-size: 105%
}

input[type=submit] {
  width: 10vw;
  color: white;
  font-size: 105%;
  background-color: #00A591;
  border-radius: 15px;
  display: inline-block
}