.search {
  text-align: center;
}

.search-box {
  background-color: #636e72;
  height: 150px;
  padding: 20px;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0
}

.app-title {
  font-size: 1.5em;
}

.list {
  margin-top: 200px
}